<h2>Autor bearbeiten</h2>

<form [formGroup]="authorForm" (ngSubmit)="onSubmit()" class="author-detail-container">
  <mat-card class="author-info-card">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Vorname</mat-label>
      <input matInput formControlName="firstname" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nachname</mat-label>
      <input matInput formControlName="lastname" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Geburtstag</mat-label>
      <input matInput formControlName="birthday" type="date" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Biografie</mat-label>
      <textarea matInput formControlName="bio"></textarea>
    </mat-form-field>
  </mat-card>

  <mat-card class="author-books-card">
    <p><strong>Veröffentlichte Bücher:</strong></p>
    <ul>
      <li *ngFor="let book of books">
        <a [routerLink]="['/books/book-detail-user', book.id]">{{ book.title }}</a>
      </li>
    </ul>
  </mat-card>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="authorForm.invalid">Speichern</button>
    <button mat-raised-button color="warn" type="button" (click)="onDelete()">Löschen</button>
  </div>
</form>

