<!-- Nur wenn Rolle 'admin' -->
@if (role=='admin'){

  <mat-toolbar color="primary" class="top-toolbar">
    <a routerLink="/">
      <img src="assets/logo/Logo.png" alt="FHmazon Logo" class="logo">
    </a>

    <span class="spacer"></span>
    <button mat-button  (click)="loginLogout()">Login/Logout</button>
  </mat-toolbar>


  <ng-container>
    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <a mat-list-item routerLink="/books/book-list-admin">
            📚 Bücher
          </a>
          <a mat-list-item routerLink="/authors/author-list-admin">
            👤 Autoren
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>

} @else if (role=='user'){
  <mat-toolbar color="primary" class="top-toolbar">
    <a routerLink="/">
      <img src="assets/logo/Logo.png" alt="FHmazon Logo" class="logo">
    </a>

    <span class="spacer"></span>
    <button mat-button (click)="loginLogout()">Login/Logout</button>
  </mat-toolbar>


  <!-- Nur wenn Rolle 'user' -->
  <ng-container>
    <mat-sidenav-container class="example-container">
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <a mat-list-item routerLink="/books/book-list-user">
            📚 Bücher
          </a>
          <a mat-list-item routerLink="/authors/author-list-user">
            👤 Autoren
          </a>
          <a mat-list-item routerLink="/cart/cart-modal">
            🛒 Warenkorb
          </a>
        </mat-nav-list>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
} @else {
  <p>Keine Rolle gefunden</p>
}


