.example-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}
mat-sidenav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 120px;
  width: 240px;
}

.top-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  padding-left: 240px;
}

.logo {
  height: 70px;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

