.book-form-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
  align-items: start;
}

.form-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.image-preview {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    max-width: 100%;
    max-height: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}

.button-row {
  grid-column: 1 / -1;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;

  padding: 2rem;
}
