<h2>Neues Buch anlegen</h2>

<form [formGroup]="bookForm" (ngSubmit)="onSubmit()" class="book-form-container">
  <div class="form-fields">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Titel*</mat-label>
      <input matInput type="text" formControlName="title" required />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Beschreibung</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Preis*</mat-label>
      <input matInput type="number" formControlName="price" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Autoren*</mat-label>
      <mat-select formControlName="authors" multiple>
        @for (author of authors$ | async; track author.id) {
          <mat-option [value]="author.id">
            {{ author.firstname }} {{ author.lastname }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Bild-URL</mat-label>
      <input matInput type="text" formControlName="imgSrc" />
    </mat-form-field>
  </div>

  <div class="image-preview">
    <img [src]="bookForm.get('imgSrc')?.value" alt="Vorschau" *ngIf="bookForm.get('imgSrc')?.value" />
  </div>

  <div class="button-row">
    <button mat-raised-button color="primary" type="submit" [disabled]="bookForm.invalid">Speichern</button>
  </div>
</form>
