.home-container {
  text-align: center;
  margin-top: 100px;
}

.button-section {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

button {
  font-size: 18px;
  padding: 20px 40px;
}
